@media (max-width: 1060px) {
    .sidebar {
        display: none;
    }
    .header_button.menu {
        position: absolute;
        left: 0px;
    }
    header, main, footer {
        grid-column: 1/13;
    }
}

@media (min-width: 1060px) {
    .header_button.menu {
        display: none;
    }
}

@media (max-width: 1180px) {
    .navbar_items .module_items {
        font-size: 1.2rem;
      }
}






